<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Logs\biz.dfch.CS.Logging.Service.log" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1GB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <header value="[biz.dfch.CS.Logging.Service START]&#13;&#10;" />
      <footer value="[biz.dfch.CS.Logging.Service STOP]&#13;&#10;" />
      <conversionPattern value="%level|%message%newline" />
    </layout>
  </appender>

  <!--Setup the root category, add the appenders and set the default level-->
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>
